@media (prefers-color-scheme: dark) {
  body {
    background-color: #1F2023;
    color: #e4e4e4;
  }
  a {
    color: #e39777;
  }
  img {
    filter: grayscale(30%);
  }
  svg {
    filter: grayscale(30%);
  }
}